@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

@font-face {
  font-family: "TASA Orbiter";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/TASAOrbiterText-Regular.otf");
}

section.epub-type-titlepage h1 {
  font-size: 3em;
  font-family: "TASA Orbiter";
  text-align: left;
  font-variant: all-small-caps;
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 2.5em;
  width: 90%;
}

section.epub-type-titlepage p.traslated {
  font-size: 1em;
  font-family: "TASA Orbiter";
  font-style: italic;
  font-weight: bolder;
  text-align: left;
  margin-left: 0;
  margin-top: 1em;
  width: 90%;
  font-variant: normal;
}

section.epub-type-titlepage p {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 0;
  text-indent: 0;
  font-size: 2.25em;
  text-align: left;
  width: 90%;
  font-variant: all-small-caps;
  font-family: "TASA Orbiter";
}

section.epub-type-acknowledgments h2,
section.epub-type-public-domain h3 {
  font-size: 1.5em;
  font-variant: normal;
  font-family: "TASA Orbiter", serif;
  text-align: left;
  margin-left: 0;
  width: 90%;
}

/* This may appear in the colophon */
abbr.epub-type-se-era {
  font-variant: small-caps;
  text-transform: lowercase;
}

section.epub-type-cover {
  text-align: center;
  height: 100%;
  max-width: 100%;
  clear: both;
}

section.epub-type-cover h1,
section.epub-type-cover p,
section.epub-type-titlepage h2,
section.epub-type-endless-public-domain h2,
section.epub-type-public-domain h2 {
  font-size: 0; /* Required for Kobo not to add an extra page to the title */
  left: -999em;
  position: absolute; /* Required for Kindle */
}

section.epub-type-cover img {
  height: 100%;
  max-width: 100%;
}

section.epub-type-titlepage img {
  display: block;
  margin-top: 3em;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 100%;
}

section.epub-type-acknowledgments,
section.epub-type-endless-public-domain,
section.epub-type-public-domain {
  text-align: left;
}

section.epub-type-endless-public-domain header,
section.epub-type-public-domain header {
  line-height: 0;
  margin-top: 3em;
}

img.epub-type-z3998-publisher-logo {
  max-width: 25%;
  width: 220px;
}

section.epub-type-acknowledgments p,
section.epub-type-endless-public-domain p,
section.epub-type-public-domain p {
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 0;
  text-indent: 0;
  font-size: 1.25em;
  text-align: left;
  width: 90%;
  line-height: 1.5em;
  font-family: "TASA Orbiter";
}

section.epub-type-endless-public-domain p + p::before {
  border-top: 1px solid;
  content: "";
  display: block;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
  width: 25%;
}

section.epub-type-endless-public-domain a {
  font-variant: small-caps;
}

section.epub-type-acknowledgments a,
section.epub-type-public-domain a,
section.epub-type-endless-public-domain a {
  hyphens: none;
  adobe-text-layout: optimizeSpeed; /* For Nook */
  adobe-hyphenate: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -epub-hyphens: none;
}

section.epub-type-public-domain img {
  height: 4.75em;
  width: auto;
  margin-left: -1em;
}

section.epub-type-copyright-page p {
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
  text-indent: 0;
}

section.epub-type-copyright-page blockquote p {
  font-style: italic;
  text-align: left;
  text-indent: 0;
}

section.epub-type-copyright-page blockquote p span {
  display: block;
  padding-left: 1em;
  text-indent: -1em;
}

section.epub-type-copyright-page blockquote br {
  display: none;
}
