@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

:root {
  --v-font-size: 17vw;
  --v-line-height: 0.8;
}
.content-area {
  margin: 5% 5%;
  text-transform: none;
}

.title-section h1,
h2 {
  width: 100%;
  height: auto;
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0;
  font-size: var(--v-font-size);
  line-height: var(--v-line-height);
  text-align: left;
}

.title-section img {
  margin: 3% 0;
  width: 9%;
  height: auto;
}

.title-section p {
  width: 100%;
  text-align: left;
  font-size: 5vw;
  letter-spacing: 0.001rem;
  line-height: var(--v-line-height);
  position: absolute;
  bottom: 5%;
  left: 0;
}
