@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

@font-face {
  font-family: "League Gothic Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/LeagueGothic-Regular.ttf");
}

:root {
  --v-font-size: 17vw;
  --v-line-height: 0.8;
  --v-translate-font-size: clamp(12px, 9.5vw, 77px);
}

.title-section {
  text-align: left;
  text-indent: 0;
  margin: 1.8rem 1.6rem;
}

.title-section h1,
h2 {
  width: auto;
  height: auto;
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0;
  font-size: var(--v-font-size);
  line-height: var(--v-line-height);
  text-align: left;
}

.title-section img {
  max-height: 70vh;
  width: auto;
  height: auto;
}

p#translate-note-text {
  font-family: "League Gothic Regular";
  font-size: var(--v-translate-font-size);
  letter-spacing: calc(var(--v-translate-font-size) * -0.02);
  line-height: 90%;
  margin: 0;
  margin-top: 3.8rem;
  text-indent: 0;
  font-weight: normal;
  font-variant: normal;
}
