@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

@font-face {
  font-family: "TASA Orbiter Text";
  font-style: normal;
  font-weight: 100 900;
  src: url("../../fonts/TASAOrbiterText-Regular.otf") format("opentype");
}

h2 {
  font-family: "TASA Orbiter Text";
  font-size: 2.7rem;
  font-variant: normal;
  font-weight: 500;
  line-height: 110%;
  margin: 0;
  text-align: left;
  text-transform: none;
}

p {
  font-family: "TASA Orbiter Text";
  font-size: 1.2rem;
  font-variant: normal;
  font-weight: 500;
  line-height: 115%;
  margin: 0 0 0.25rem 0;
  text-align: left;
  text-indent: 0;
  text-transform: none;
}

#small-pdl-logo {
  width: 3rem;
  height: auto;
  margin-left: 0;
  margin-top: 4.05rem;
  margin-bottom: 1.45rem;
}

#large-pdl-logo {
  width: 12.75rem;
  height: auto;
}

#large-logo-container {
  margin-top: 2.5rem;
}
