@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

@font-face {
  font-family: "League Gothic Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/LeagueGothic-Regular.ttf") format("truetype");
}

#titlepage-text-section {
  text-align: left;
  text-indent: 0;
  margin: 1.5rem 0 0 0;
}

h1,
h2 {
  font-family: "League Gothic Regular";
  font-size: 7.1rem;
  line-height: 84%;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 0;
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
}

img.logo-image {
  display: block;
  width: 2.65rem;
  height: auto;
  margin: 0.8rem 0 0.5rem 0;
}

h3 {
  font-family: "League Gothic Regular";
  font-size: 2.3rem;
  line-height: 2rem;
  margin: 0;
  font-weight: 100;
  margin-top: 3.48rem;
  text-align: left;
  text-indent: 0;
  font-weight: normal;
  font-variant: normal;
}

img.title-image {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
